{% extends 'layout.html' %}

{% block content %}
    <h1>Добавить новую задачу</h1>
    <form method="POST">
        {% csrf_token %}
    <table>
        {{ form }}
    </table>
    <a href=""><input type="submit"></a>
    <h2> {{ status }}</h2>
    <h1> Текущие не утверждённые задачи</h1>
    {% for item in data %}
        {% if user.id == item.owner_id %}
            {{ item.name }}
            <a href="/edit/{{ item.id }}">Редактировать</a>
            <a href="/chat/{{ item.id }}">Открыть чат</a>
            <a href="/history/{{ item.id }}">История </a>
        {% elif perms.browse.change_goal and item.current_level == 0 and user.groups.all.0 == item.group %}
            {{ item.name }}
            <a href="/edit/{{ item.id }}">Редактировать</a>
            <a href="/chat/{{ item.id }}">Открыть чат</a>
            <a href="/history/{{ item.id }}">История </a>
        {% elif item.current_level == 1 and user.is_superuser %}
            {{ item.name }}
            <a href="/edit/{{ item.id }}">Редактировать</a>
            <a href="/chat/{{ item.id }}">Открыть чат</a>
            <a href="/history/{{ item.id }}">История </a>
        {% endif %}
    {% endfor %}
{% endblock %}