@font-face {
	font-family: "OfficinaSansWinCTT";
	src: url("/static/fonts/officinasanswinctt.eot");
	src: url("/static/fonts/officinasanswinctt.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
		url("/static/fonts/officinasanswinctt.otf") format("opentype"), /* Open Type Font */
		url("/static/fonts/officinasanswinctt.svg") format("svg"), /* Legacy iOS */
		url("/static/fonts/officinasanswinctt.ttf") format("truetype"), /* Safari, Android, iOS */
		url("/static/fonts/officinasanswinctt.woff") format("woff"), /* Modern Browsers */
		url("/static/fonts/officinasanswinctt.woff2") format("woff2"); /* Modern Browsers */
	
    font-weight: normal;
	font-style: normal;
}

body{
    max-width: 1740px;
    margin: 0 auto;
    background-color: #F5F5F5;
    font-family: 'Montserrat';
    padding: 20px 12px 0 13px;
}

.login-form{
    display: inline-block;
    width: 654px;
    height: 389px;
    background: #FFFFFF;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 33px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    padding: 38px 97px 38px 97px;
    box-sizing: border-box;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
}

.login-form .logo{
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    width: 212px;
    margin-bottom: 15px;
}

.login-form p{
    margin: 0;
    margin-bottom: 7px;
}

.login-form input{
    margin-bottom: 11px;
    width: 461px;
    height: 34px;
    border-radius: 6px;
    background-color: white;
    font-size: 18px;
    color: #333333;
    border: 1px solid #AEAEAE;
    padding: 6px 0 6px 34px;
}

.login-form .submit{
    font-weight: 600;
    font-size: 25px;
    color: #333333;
    width: 135px;
    height: 34px;
    background: #FF9900;
    border-radius: 33px;
    padding: 2px 26px 2px 26px;
    margin-top: 37px;
    margin-left: 163px;
    border: none;
}

.icon-login{
    position: absolute;
    width: 26px;
    height: 26px;
    padding: 4px 0 4px 8px;
}

.icon-lock{
    position: absolute;
    width: 21px;
    height: 21px;
    padding: 7px 0 7px 8px;
}

.login-form span{
    font-weight: 300;
    font-size: 17px;
}

ul{
    margin: 0;
    padding: 0;
}

header{
    position: relative;
    height: 60px;
    display: flex;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 25px;
    color: #333333;
}

.current-page{
    color: #F89C1D;
}

header a{
    text-decoration: none;
    color: #333333;
}

.rectangle-42{
    position: absolute;
    width: 6px;
    height: 28.69px;
    left: 288px;
    top: 85px;
}

.logo{
    padding: 1px 40px 0 27px;
    width: 294px;
    box-sizing: border-box;
}

.logo img{
    width: 212px;
    height: 64px;
}

.header-nav{
    display: flex;
    width: 764px;
    padding: 16px 40px 19px 40px;
}

.header-nav a{
    margin-right: 70px;
}

.header-user{
    display: flex;
    margin-left: auto;
    padding-left: 61px;
}

.header-user p{
    margin: 0;
    margin-top: 16px;
    margin-right: 11px;
}

.ringbell{
    position: relative;
    width: 31px;
    height: 35px;
    margin-top: 14px;
    margin-right: 19px;
    font-weight: 400;
}

.ringbell span{
    position: absolute;
    top: 6px;
    left: 12px;
    font-size: 20px;
}

.user-logo{
    width: 61px;
    height: 61px;
    border-radius: 50%;
}

main{
    display: flex;
    padding: 9px 60px 0 0;
}

.left-submenu{
    width: 274px;
    font-family: 'Montserrat';
    font-weight: 700;
    color: #333333;
}

.left-submenu p{
    font-size: 25px;
    margin-top: 8px;
    margin-bottom: 7px;
    box-sizing: border-box;
}

.left-submenu li{
    list-style-type: none;
    display: flex;
    font-size: 17px;
}

.left-submenu .point{
    box-sizing: border-box;
    width: 12px;
    height: 12px;
    border-radius: 4px;
    margin-top: 4px;
    margin-right: 10px;
}

.block-list-element:nth-child(1) .point{
    background: #D9D9D9;
}

.block-list-element:nth-child(2) .point{
    background: rgba(255, 81, 81, 0.44);
}

.block-list-element:nth-child(3) .point{
    background: rgba(255, 153, 0, 0.44);
}

.block-list-element:nth-child(4) .point{
    background: rgba(119, 255, 107, 0.44);
}

.block-list-element:nth-child(5) .point{
    background: #79AEA8;
}

.block-list-element:nth-child(6) .point{
    background: rgba(0, 178, 255, 0.44);
}

.block-list-element:nth-child(7) .point{
    background: rgba(219, 222, 84, 0.44);
}

.block-list-element:nth-child(8) .point{
    background: rgba(143, 64, 206, 0.44);
}

.block-list-element:nth-child(9) .point{
    background: rgba(248, 22, 225, 0.44);
}

.block-list-element:nth-child(10) .point{
    background: rgba(0, 0, 0, 0.44);
}

li{
    margin-bottom: 7px;
}

.arrows{
    display: flex;
}

.arrows svg:nth-child(2){
    transform: rotate(180deg);
}

.arrows .active-sort path{
    stroke: #F89C1D;
}

.active-sort{
    color: #F89C1D;
}

.arrows{
    margin-left: 1px;
    margin-top: 2px;
}

select{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 17px;
    background: #E9E9E9;
    border: none;
    border-radius: 7px;
    color: #333333;
    padding: 4px 8px 4px 8px;
    width: 240px;
    box-sizing: border-box;
}

option:hover {
    background-color: yellow;
}

.line{
    width: 274px;
    height: 1px;
    background-color: #333333;
    opacity: 0.15;
    margin-left: 13px;
}


.tasks{
    width: 1347px;
    margin-left: auto;
}

.search-input{
    font-family: 'Montserrat';
    font-size: 17px;
    background: #E9E9E9;
    border: none;
    border-radius: 7px;
    color: #333333;
    padding: 5px 0px 5px 30px;
    box-sizing: border-box;
    width: 458px;
    height: 29px;
}

.search{
    display: flex;
    margin-bottom: 24px;
    position: relative;
}

.search-icon{
    position: absolute;
    margin: 5px;
}

.search-checkbox-block{
    margin-left: 33px;
    display: flex;
}

.search-checkbox-block p{
    margin: 0;
    margin-left: 11px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    margin-top: 4px;
}

.search-checkbox{
    width: 18px;
    height: 18px;
    margin: 0;
    margin-top: 6px;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    gap: 27px;
}

.card{
    width: 431px;
    height: 106px;
    background-color: white;
    color: #333333;
    padding: 7px 14px 4px 28px;
    box-sizing: border-box;
    border-left: 5px solid #D9D9D9;
    box-shadow: 2px 2px 4px 3px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    font-family: 'OfficinaSansWinCTT';
}

.card img{
    width: 36px;
    height: 36px;
    display: inline-block
}

.card-top, .card-bottom, .card-user{
    display: flex;
}

.card-user{
    margin-left: auto;
}

.card-top{
    margin-bottom: 5px;
    min-height: 54px;
}

.card-top p{
    font-size: 23px;
    margin: 0;
}

.card-top .calendar{
    position: relative;
    margin-left: auto;
}

.card-top .done{
    position: absolute;
    top: 17px;
    left: 9px;
}

.card-bottom p{
    margin: 0;
    margin-top: 5px;
    font-size: 25px;
    color: rgba(51, 51, 51, 0.55);
}

.card svg path{
    stroke: rgb(191, 191, 191)
}

.card-user p{
    margin-right: 2px;
}

.hidden{
    display: none;
}