@font-face {
	font-family: "OfficinaSansWinCTT";
	src: url("/static/fonts/officinasanswinctt.eot");
	src: url("/static/fonts/officinasanswinctt.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
		url("/static/fonts/officinasanswinctt.otf") format("opentype"), /* Open Type Font */
		url("/static/fonts/officinasanswinctt.svg") format("svg"), /* Legacy iOS */
		url("/static/fonts/officinasanswinctt.ttf") format("truetype"), /* Safari, Android, iOS */
		url("/static/fonts/officinasanswinctt.woff") format("woff"), /* Modern Browsers */
		url("/static/fonts/officinasanswinctt.woff2") format("woff2"); /* Modern Browsers */
	
    font-weight: normal;
	font-style: normal;
}

body{
    max-width: 1740px;
    margin: 0 auto;
    background-color: #F5F5F5;
    font-family: 'Montserrat';
    padding: 20px 12px 0 13px;
}

div::-webkit-scrollbar, 
textarea::-webkit-scrollbar,
#card-cvartal::-webkit-scrollbar,
select::-webkit-scrollbar{
    background: rgba(217, 217, 217, 0.44);
    border-radius: 5px;
    width: 11px;
}

div::-webkit-scrollbar-thumb:hover, 
textarea::-webkit-scrollbar-thumb:hover,
#card-cvartal::-webkit-scrollbar-thumb:hover,
select::-webkit-scrollbar-thumb:hover{
    background: #BEBEBE;
}

div::-webkit-scrollbar-thumb:active, 
textarea::-webkit-scrollbar-thumb:active,
#card-cvartal::-webkit-scrollbar-thumb:active{
    background: rgba(0, 0, 0, 0.44);
}

div::-webkit-scrollbar-thumb, 
textarea::-webkit-scrollbar-thumb,
#card-cvartal::-webkit-scrollbar-thumb,
select::-webkit-scrollbar-thumb{
    background: #D9D9D9;
    border-radius: 7.5px;
}

.login-form{
    display: inline-block;
    width: 654px;
    height: 389px;
    background: #FFFFFF;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 33px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    padding: 38px 97px 38px 97px;
    box-sizing: border-box;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
}

.login-form .logo{
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    width: 212px;
    margin-bottom: 15px;
}

.login-form p{
    margin: 0;
    margin-bottom: 7px;
}

.login-form input{
    margin-bottom: 11px;
    width: 461px;
    height: 34px;
    border-radius: 6px;
    background-color: white;
    font-size: 18px;
    color: #333333;
    border: 1px solid #AEAEAE;
    padding: 6px 0 6px 34px;
}

.login-form .submit{
    font-weight: 600;
    font-size: 25px;
    color: #333333;
    width: 135px;
    height: 34px;
    background: #FF9900;
    border-radius: 33px;
    padding: 2px 26px 2px 26px;
    margin-top: 37px;
    margin-left: 163px;
    border: none;
}

.icon-login{
    position: absolute;
    width: 26px;
    height: 26px;
    padding: 4px 0 4px 8px;
}

.icon-lock{
    position: absolute;
    width: 21px;
    height: 21px;
    padding: 7px 0 7px 8px;
}

.login-form span{
    font-weight: 300;
    font-size: 17px;
}

ul{
    margin: 0;
    padding: 0;
}

header{
    position: relative;
    height: 60px;
    display: flex;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 25px;
    color: #333333;
}

.current-page{
    color: #F89C1D;
}

header a{
    text-decoration: none;
    color: #333333;
}

.rectangle-42{
    position: absolute;
    width: 6px;
    height: 28.69px;
    left: 288px;
    top: 85px;
}

.logo{
    padding: 1px 40px 0 27px;
    width: 294px;
    box-sizing: border-box;
}

.logo img{
    width: 212px;
    height: 64px;
}

.header-nav{
    display: flex;
    width: 764px;
    padding: 16px 40px 19px 40px;
}

.header-nav a:hover{
    color: rgba(51, 51, 51, 0.55);
}

.header-nav .current-page:hover{
    color: #F89C1D;
}

.header-nav a{
    margin-right: 70px;
}

.header-user{
    display: flex;
    margin-left: auto;
    padding-left: 61px;
}

.header-user p{
    margin: 0;
    margin-top: 16px;
    margin-right: 11px;
}

.ringbell{
    cursor: pointer;
    user-select:none;
    position: relative;
    width: 41px;
    height: 45px;
    margin-top: 10px;
    margin-right: 19px;
    font-weight: 400;
}

.ringbell span{
    position: absolute;
    top: 6px;
    left: 12px;
    font-size: 20px;
}

.ringbell .active{
    box-sizing: border-box;
    position: absolute;
    top: 18px;
    left: 15px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: orange;
    text-align: center;
    color: white;
    padding-top: 2px;
    font-size: 17px;
}

.notification-block{
    z-index: 100;
    box-sizing: border-box;
    position: absolute;
    width: 433px;
    height: 670px;
    overflow: auto;
    overflow-x: hidden;
    background-color: #F5F5F5;
    left: 1310px;
    top: 55px;
    border: 1px solid #D9D9D9;
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 400;
    color: #333333;
}

.notification-container{
    transition: 0.5s;
    position: relative;
    margin: 0 auto;
    background: #EAEAEA;
    border-radius: 1px;
    padding: 4px 11px 4px 15px;
    margin-bottom: 14px;
    cursor: pointer;
}

.notification-container:hover{
    transition: 0.5s;
    background-color: #ECD7BA;
}

.notification{
    display: flex;
    
}

.notification-circle{
    position: absolute;
    left: 2px;
    top: 7px;
    box-sizing: border-box;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #F89C1D;
}

.notification-container:nth-last-child(1){
    margin-bottom: 0;
}

.notification-container p{
    margin: 0;
    margin-bottom: 5px;
    word-wrap: break-word;
}

.user-logo{
    width: 61px;
    height: 61px;
    border-radius: 50%;
}

main{
    display: flex;
    padding: 9px 60px 0 0;
}

.left-submenu{
    width: 274px;
    font-family: 'Montserrat';
    font-weight: 700;
    color: #333333;
}

.left-submenu li:hover{
    color: rgba(51, 51, 51, 0.55);
    transition: 0.1s;
}

.left-submenu .active-sort:hover{
    color: #F89C1D;
}

.left-submenu p{
    font-size: 25px;
    margin-top: 8px;
    margin-bottom: 7px;
    box-sizing: border-box;
}

.left-submenu li{
    list-style-type: none;
    display: flex;
    position: relative;
    font-size: 17px;
    transition: 0.1s;
    padding-left: 20px;
}

.left-submenu .point{
    position: absolute;
    left: 0;
    top: 0;
    box-sizing: border-box;
    width: 12px;
    height: 12px;
    border-radius: 4px;
    margin-top: 4px;
}

.left-submenu li span, select, input[type="checkbox"], input[type="submit"], .chat-submit{
    cursor: pointer;
}

.block-list-element:nth-child(1) .point{
    background: #D9D9D9;
}

.block-list-element:nth-child(2) .point{
    background: rgba(255, 81, 81, 0.44);
}

.block-list-element:nth-child(3) .point{
    background: rgba(255, 153, 0, 0.44);
}

.block-list-element:nth-child(4) .point{
    background: rgba(119, 255, 107, 0.44);
}

.block-list-element:nth-child(5) .point{
    background: #79AEA8;
}

.block-list-element:nth-child(6) .point{
    background: rgba(0, 178, 255, 0.44);
}

.block-list-element:nth-child(7) .point{
    background: rgba(219, 222, 84, 0.44);
}

.block-list-element:nth-child(8) .point{
    background: rgba(143, 64, 206, 0.44);
}

.block-list-element:nth-child(9) .point{
    background: rgba(248, 22, 225, 0.44);
}

.block-list-element:nth-child(10) .point{
    background: rgba(0, 0, 0, 0.44);
}

li{
    margin-bottom: 7px;
}

.arrows{
    display: flex;
}

#owner_id .arrows svg{
    transform: rotate(180deg);
}

.arrows .active-sort path{
    stroke: #F89C1D;
}

.active-sort{
    color: #F89C1D;
}

.arrows{
    margin-left: 1px;
    margin-top: 2px;
}

select{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 17px;
    background: #E9E9E9;
    border: none;
    border-radius: 7px;
    color: #333333;
    box-sizing: border-box;
    overflow: auto;
    max-height: 178px;
}

.cvartal-select option{
    padding-left: 20px;
    padding-right: 20px;
}

select:focus-visible{
    outline: none;
}

option{
    padding-left: 8px;
}

option:hover {
    color: rgba(248, 156, 29, 0.75);
    font-weight:bold;
}

option:checked {
    background: #ECD7BA linear-gradient(0deg, #ECD7BA 0%, #ECD7BA 100%);
    -webkit-text-fill-color: #000000;
}

.line{
    width: 274px;
    height: 1px;
    background-color: #333333;
    opacity: 0.15;
    margin-left: 13px;
}


.tasks{
    width: 1347px;
    margin-left: auto;
}

.search-input{
    font-family: 'Montserrat';
    font-size: 17px;
    background: #E9E9E9;
    border: none;
    border-radius: 7px;
    color: #333333;
    padding: 5px 0px 5px 30px;
    box-sizing: border-box;
    width: 458px;
    height: 29px;
}

.search{
    display: flex;
    margin-bottom: 24px;
    position: relative;
}

.search-icon{
    position: absolute;
    margin: 5px;
}

.search-checkbox-block{
    margin-left: 33px;
    display: flex;
}

.search-checkbox-block p{
    margin: 0;
    margin-left: 11px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    margin-top: 4px;
}

.search-checkbox{
    width: 18px;
    height: 18px;
    margin: 0;
    margin-top: 6px;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    gap: 27px;
}

.card{
    width: 431px;
    height: 106px;
    background-color: white;
    color: #333333;
    padding: 7px 14px 4px 28px;
    box-sizing: border-box;
    border-left: 5px solid #D9D9D9;
    box-shadow: 2px 2px 4px 3px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    font-family: 'OfficinaSansWinCTT';
    cursor: pointer;
    transition: 0.5s;
}

.card:hover{
    box-shadow:
    1px 1px #E9E9E9,
    2px 2px #E9E9E9,
    3px 3px #E9E9E9,
    4px 4px #E9E9E9,
    5px 5px #E9E9E9,
    6px 6px #E9E9E9,
    7px 7px #E9E9E9;
    transform: translateX(-7px);
    transition: 0.5s;
}

.card img{
    width: 36px;
    height: 36px;
    display: inline-block
}

.card-top, .card-bottom, .card-user{
    display: flex;
}

.card-user{
    margin-left: auto;
}

.card-top{
    margin-bottom: 5px;
    min-height: 54px;
}

.card-top p{
    word-wrap: break-word;
    width: 348px;
    font-size: 23px;
    margin: 0;
}

.card-top .calendar{
    position: relative;
    margin-left: auto;
}

.card-top .done{
    position: absolute;
    top: 17px;
    left: 9px;
}

.card-bottom p{
    margin: 0;
    margin-top: 5px;
    font-size: 25px;
    color: rgba(51, 51, 51, 0.55);
}

.card svg path{
    stroke: rgb(191, 191, 191)
}

.card-user p{
    margin-right: 2px;
}

.blur{
    z-index: 200;
    position: fixed;
    width: 100%;
    min-height: 100%;
    left: 0px;
    top: 0px;
    background: rgba(217, 217, 217, 0.75);
}

.card-data{
    z-index: 200;
    box-sizing: border-box;
    justify-content: space-between;
    width: 100%;
    max-width: 1670px;
    background-color: #F5F5F5;
    border-radius: 8px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-family: 'OfficinaSansWinCTT';
    font-style: normal;
    font-weight: 400;
    color: #333333;
}

.card-message{
    text-align: center;
    font-size: 60px;
}

.card-content{
    display: flex;
}

.card-header{
    display: flex;
    font-size: 30px;
    height: 54px;
}

.card-header p{
    margin: 0;
}

.edit{
    box-sizing: border-box;
    width: 708px;
    padding: 8px 16px 7px 29px;
    border-right: 1px solid rgba(0, 0, 0, 0.33);
    font-size: 24px;
}

.edit p{
    margin: 0;
    margin-bottom: 5px;
}

.edit-user img{
    width: 37px;
    height: 37px;
}

.edit-header{
    box-sizing: border-box;
    display: flex;
    width: 708px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.33);
    border-right: 1px solid rgba(0, 0, 0, 0.33);
    padding-right: 14px;
    padding: 12px 14px 5px 29px;
}

.chat-header, .history-header{
    box-sizing: border-box;
    padding: 12px 0 8px 0;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.33);
    border-right: 1px solid rgba(0, 0, 0, 0.33);
}

.chat-header{
    width: 558px;
}

.history-header{
    width: 404px;
}

.edit-user{
    display: flex;
    margin-left: auto;
}

.edit-user p{
    margin-right: 4px;
    font-size: 21px;
    margin-top: 7px;
    margin-bottom: 0;
}

textarea{
    resize: none;
    height: 116px;
    box-sizing: border-box;
    font-size: 22px;
    width: 650px;
    border: none;
    background: rgba(217, 217, 217, 0.55);
    border-radius: 6px;
    padding: 6px 0 0 6px;
}

.card-name{
    height: 62px;
}

.select-form-container{
    width: 438px;
}

.edit-flex{
    display: flex;
    justify-content: space-between;
}

.edit-flex select{
    width: 263px;
    height: 30px;
    font-weight: 400;
    font-size: 22px;
    padding: 0;
    padding-left: 10px;
}

.edit-flex select[name='card-cvartal'] {
    width: 194px;
}

.edit-flex .number-select {
    width: 102px;
}

.edit input, .add input{
    display: block;
    width: 170px;
    height: 35px;
    background: rgba(217, 217, 217, 0.55);
    border-radius: 14px;
    font-family: 'OfficinaSansWinCTT';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    color: #333333;
    border: none;
    margin-left: auto;
    transition: 0.5s;
}

.chat{
    box-sizing: border-box;
    width: 558px;
    height: 777px;
    padding: 24px 6px 0 0;
    font-family: 'Montserrat';
    font-style: normal;
    color: #333333;
    font-weight: 400;
    border-right: 1px solid rgba(0, 0, 0, 0.33);
}

.chat-container{
    box-sizing: border-box;
    border-bottom: 34px solid #F5F5F5;
    height: 700px;
    margin-left: 8px;
    overflow: scroll;
    overflow-x: hidden;
    padding-right: 5px;
}

.self-message, .sender-message{
    margin-bottom: 7px;
}

.self-message .edit-user{
    justify-content:flex-end;
    font-size: 19px !important;
}

.sender-message .edit-user p{
    order: 2;
    margin-left: 4px;
}

.message{
    box-sizing: border-box;
    word-wrap: break-word;
    width: 451px;
    min-height: 62px;
    background: #EAEAEA;
    border-radius: 6px;
    margin: 0 auto;
    padding: 5px 5px 5px 5px;
    font-size: 18px;
}

.message p{
    margin-top: 5px;
    margin-bottom: 5px;
}

.chat form{
    display: flex;
    box-sizing: border-box;
    position: fixed;
    bottom: 0px;
    max-height: 200px;
    width: 558px;
    background: #EAEAEA;
    border: 0.1px solid rgba(0, 0, 0, 0.33);;
    padding: 8px 15px 8px 5px;
}

.message-sender{
    box-sizing: border-box;
    overflow-x: hidden;
    width: 499px;
    min-height: 33px;
    background: #F5F5F5;
    border: 1px solid rgba(0, 0, 0, 0.33);;
    border-radius: 3px;
    margin-right: 12px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    color: #000000;
    padding: 5px 0 5px 8px;
}

.chat-submit{
    margin-top: auto;
    width: 28px;
    height: 28px;
}

.history{
    width: 393px;
    height: 775px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    color: #333333;
    padding: 0 6px 0 5px;
    overflow: scroll;
    overflow-x: hidden;
}

.history-card:nth-last-child(1){
    margin-bottom: 0;
}

.history-card{
    box-sizing: border-box;
    min-height: 130px;
    background: #EAEAEA;
    border-radius: 1px;
    font-size: 18px;
    padding: 6px 24px 11px 10px;
    margin-bottom: 14px;
}

.history-card p{
    margin: 0;
    margin-bottom: 5px;
    word-wrap: break-word;
}

.prev{
    color: #D10000;
}

.now{
    color: #49A03A;
}

.history-container{
    margin-bottom: 31px;
}

.date{
    text-align: end;
}

.hidden{
    display: none;
}

.send, .error{
    background-color: #54d98c !important;
    border-radius: 50% !important;
    width: 35px !important; 
    height: 35px !important;
    transition: 0.5s;
    color: white !important;
    cursor: default !important;
}

.error{
    background-color: #F26065 !important;
}

.add{
    box-sizing: border-box;
    background: rgba(196, 188, 178, 0.15);
    border-radius: 6px;
    padding: 16px 29px 7px 36px;
    font-family: 'Montserrat';
    font-style: normal;
}

#add-form{
    gap: 11px;

    font-size: 24px;
    font-family: 'OfficinaSansWinCTT';

    color: #333333;
}

.add-form-flex, .add-form-bottom-flex{
    display: flex;
    gap: 18px;
}

.add-form-bottom-flex .edit-flex:nth-child(2){
    gap:55px;
}

.add-form-bottom-flex .edit-flex{
    width: 370px;
    justify-content:flex-start;
    gap: 50px;
}

.add-form-flex #card-name{
    margin-bottom: 11px;
}

#more-form select{
    margin-bottom: 11px;
}

.right-flex{
    width: 50%;
}

.left-flex{
    width: 50%;
}

.select-flex{
    display: flex;
    gap: 18px;
}

.select-flex .block-flex:nth-child(1){
    width: 60%;
}

.select-flex .block-flex:nth-child(2){
    width: 40%;
}

.add p{
    margin: 0;
}

.add textarea{
    width: 100%;
}

.add select{
    width: 213px;
    background: rgba(217, 217, 217, 0.55);
    border-radius: 4px;
}

.add-header{
    font-weight: 700;
    font-size: 25px;

    color: #504949;
    margin-bottom: 14px !important;
}

#card-cvartal, #card-weight, #card-own-grade, #card-leader-grade{
    font-family: 'Roboto Mono';
}

#card-cvartal--focus{
    border-color: red;
}

.add #card-cvartal{
    width: auto;
}

.ruk-block{
    margin-bottom: 20px;
    height: 1px;
}

#card-current-progress{
    margin-bottom: 5px;
}

.disabled{
    color: gray;
}