{% autoescape off %}
<!DOCTYPE html>
<html>
<div style="padding-top: 90px; padding-bottom: 90px; background: #ECECEC;">
    <div style="box-sizing: border-box; width: 654px; margin: 0 auto; font-size: 22px; background: #FFFFFF; box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 33px; padding: 30px;">
        <img src="/static/img/logo.svg" alt="Лого" style="height: 64px; width: 213px; padding-bottom: 26px; margin: 0 auto; display: table;">
        <p style="font-size: 26px; text-align: center; font-weight: bold; padding-bottom: 36px;">Установка нового пароля</p>
        <p style="padding-bottom: 36px;">Вы получили это электронное письмо, потому что запросили сброс пароля для своей учетной записи ({{ request.user }})</p>
        <p style="padding-bottom: 36px;">Перейдите на следующую <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uid token %}">страницу</a> и выберите новый пароль:</p>
        <a style="box-sizing: border-box; width: 145px;height: 42px;margin: 0 auto; background: #FF9900; border-radius: 10px; text-decoration: none; color: white; display: table; padding: 6px 0 6px 0; text-align: center;" 
            href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uid token %}">Перейти</a>
    </div>
</div>

    {% endautoescape %}
</html>