<head>
  <meta charset='utf-8'>
  <title>{% block title %}{% endblock %}</title>
  <link href="/static/css/style.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">
  <style>
  </style>
</head>

{% block content %}
<body>
  <div class="login-form">
    <div class="logo">
      <img src="/static/img/logo.svg">
    </div>
    <form method="post" class="new-password-form">
      {% if validlink %}
        {% csrf_token %}
          <p>Новый пароль</p>
          <div class="input-container">
            <input type="password" name="new_password1" autocomplete="new-password" required id="id_new_password1" placeholder="Придумайте пароль">
          </div>
          <p>Повторите новый пароль</p>
          <div class="input-container">
            <input type="password" name="new_password2" autocomplete="new-password" required id="id_new_password2" placeholder="Повторите пароль">
          </div>

          <input class="submit" type="submit" value="Сохранить" />
        </form>
      {% else %}
        <div class="mail-send">
          <p>Ссылка для сброса пароля недействительна, возможно, потому, что она уже использовалась. Пожалуйста, запросите сброс нового пароля.</p>
        </div>
      {% endif %}
      {% for field in form %}
        <div class="fieldWrapper">
            {{ field.errors.0 }}
        </div>
      {% endfor %}
  </div>
</body>
{% endblock %}