<head>
  <meta charset='utf-8'>
  <title>{% block title %}{% endblock %}</title>
  <link href="/static/css/style.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">
</head>

{% block content %}
<body>
  <div class="login-form">
    <div class="logo">
      <img src="/static/img/logo.svg">
    </div>
    <form class="mail-form" method="POST">
      {% csrf_token %}
        <p>Почта</p>
        <div class="input-container">
          <img class="icon-mail" src="/static/img/icon-mail.svg">
          <input type="email" name="email" required id="id_email" placeholder="Введите почту">
        </div>
      
        <input class="submit" type="submit" value="Отправить" />
      </form>
  </div>
</body>
{% endblock %}