<head>
  <meta charset='utf-8'>
  <title>{% block title %}{% endblock %}</title>
  <link href="/static/css/style.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">
  <style>
  </style>
</head>

<body>
  <div class="login-form">
    <div class="logo">
      <img src="/static/img/logo.svg">
    </div>
    <div class="mail-send">
      <b>Проверьте свой почтовый ящик.</b>
      <p>Мы отправили вам инструкции по настройке пароля.
        Вы должны получить письмо в ближайшее время!</p>
    </div>
  </div>
</body>