<!DOCTYPE html>
<html lang="ru">
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset='utf-8'>
    <link href="/static/css/style.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="/static/img/mini-logo.png"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,300&family=Roboto+Mono:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/cropper.css">
    <script type="module" src="/static/browse/js/SetCards.js"></script>
    <style>
        .container {
          margin: 20px auto;
          max-width: 640px;
        }
    
        img {
          max-width: 100%;
        }
    
        .cropper-view-box,
        .cropper-face {
          border-radius: 50%;
        }
    
        /* The css styles for `outline` do not follow `border-radius` on iOS/Safari (#979). */
        .cropper-view-box {
            outline: 0;
            box-shadow: 0 0 0 1px #39f;
        }
      </style>
</head>
<body>
    <header>
        <div class="logo">
            <a class="Задачи" href="/"><img src="/static/img/logo.svg"></a>
        </div>
        <div class="header-nav">
            <a class="Задачи" href="/">ЗАДАЧИ</a>
            <a class="Добавить" href="/goal/add">ДОБАВИТЬ</a>
            {% if perms.browse.change_goal %}
                <a class="Утвердить" href="/goal/approve">УТВЕРДИТЬ</a>
            {% endif %}
            {% if request.user.is_superuser %}
                <a class="Сводка" href="/goal/summary">СВОДКА</a>
            {% endif %}
        </div>
        <div class="header-user">
            <div class="ringbell">
                <svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" focusable="false" class="style-scope yt-icon" style="pointer-events: none; display: block; width: 100%; height: 100%;">
                    <g class="style-scope yt-icon">
                        <path d="M10,20h4c0,1.1-0.9,2-2,2S10,21.1,10,20z M20,17.35V19H4v-1.65l2-1.88v-5.15c0-2.92,1.56-5.22,4-5.98V3.96 c0-1.42,1.49-2.5,2.99-1.76C13.64,2.52,14,3.23,14,3.96l0,0.39c2.44,0.75,4,3.06,4,5.98v5.15L20,17.35z M19,17.77l-2-1.88v-5.47 c0-2.47-1.19-4.36-3.13-5.1c-1.26-0.53-2.64-0.5-3.84,0.03C8.15,6.11,7,7.99,7,10.42v5.47l-2,1.88V18h14V17.77z" class="style-scope yt-icon"></path>
                    </g>
                </svg>
                <div class="active hidden"></div>
            </div>
            <div class="notification-block hidden">
            </div>
            <div class="personal-area-block hidden">
                <select size="4" class="cvartal-select hidden" id="card-cvartal">
                </select>
                <p class="name"></p>
                <div class="personal-area-content">
                    <p>
                        <svg width="24" height="21" viewBox="0 0 24 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M22.75 17.375V20.25H1V17.375" stroke="#333333" stroke-width="0.814114" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M6.43848 11.2705L11.876 16.708L17.3135 11.2705" stroke="#333333" stroke-width="0.814114" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M11.8799 0.999674V16.708" stroke="#333333" stroke-width="0.814114" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>  
                        <a class="excel-load">Выгрузить статистику</a>
                    </p>
                    <p>
                        <svg width="21" height="18" viewBox="0 0 21 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M21 17.2653V18L0.375 18L0 17.2653H21ZM13.65 0L18.9 5.14286L7.35 16.4571H2.1V11.3143L13.65 0ZM9.3672 5.4878L2.625 11.7551V15.7959H7.125L13.5 9.55102L9.3672 5.4878ZM13.6806 1.46939L10.1556 4.92239L14.1 8.78629L17.625 5.33329L13.6806 1.46939Z" fill="#333333"/>
                        </svg> 
                        <a class="update-image-link">Обновить фотографию</a>
                    </p>
                    <p>
                        <svg width="24" height="28" viewBox="0 0 24 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1.98151 11.0162C1.84983 9.30439 3.20332 7.84277 4.92019 7.84277H19.1861C20.9031 7.84277 22.2565 9.30437 22.1249 11.0162L21.1046 24.2794C20.9865 25.8149 19.706 27.0007 18.1659 27.0007H5.94043C4.40033 27.0007 3.11988 25.8149 3.00175 24.2794L1.98151 11.0162Z" stroke="#333333" stroke-width="0.81"/>
                            <path d="M23.1053 5.4209H1" stroke="#333333" stroke-width="0.81" stroke-linecap="round"/>
                            <path d="M9.10547 2.47368C9.10547 1.6598 9.76524 1 10.5792 1H13.5265C14.3404 1 15.0002 1.6598 15.0002 2.47368V5.42105H9.10547V2.47368Z" stroke="#333333" stroke-width="0.81"/>
                            <path d="M15 13.7373V21.1057" stroke="#333333" stroke-width="1.81" stroke-linecap="round"/>
                            <path d="M9.10547 13.7373V21.1057" stroke="#333333" stroke-width="1.81" stroke-linecap="round"/>
                        </svg>
                        <a>Удалить фотографию</a>
                    </p>
                    <p>
                        <svg width="23" height="25" viewBox="0 0 23 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M19.6667 11H3.33333C2.04467 11 1 12.0582 1 13.3636V21.6364C1 22.9418 2.04467 24 3.33333 24H19.6667C20.9553 24 22 22.9418 22 21.6364V13.3636C22 12.0582 20.9553 11 19.6667 11Z" stroke="#333333" stroke-width="0.81" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M5 11V6.55556C5 5.08213 5.68482 3.66905 6.90381 2.62718C8.12279 1.58532 9.77609 1 11.5 1C13.2239 1 14.8772 1.58532 16.0962 2.62718C17.3152 3.66905 18 5.08213 18 6.55556V11" stroke="#333333" stroke-width="0.81" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M11.5 14L11.5 21" stroke="#333333" stroke-linecap="round"/>
                            <path d="M15 17.5L8 17.5" stroke="#333333" stroke-linecap="round"/>
                        </svg> 
                        <a href="/user/password_reset">Сбросить пароль</a>
                    </p>
                    <p>
                        <svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M14.505 3.625H25.375V25.375H14.5" stroke="#333333" stroke-width="0.814114" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M13.8955 19.9365L19.333 14.499L13.8955 9.06152" stroke="#333333" stroke-width="0.814114" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M3.62467 14.4951H19.333" stroke="#333333" stroke-width="0.814114" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg> 
                        <a href="/user/logout">Выйти</a>
                    </p>
                </div>
            </div>
            <img class="user-logo" src="/static/img/white.png">
        </div>
    </header>
    <main>
        <div class="left-submenu">
            <p>Блок</p>  
            <ul class="block-list">
                <li class="block-list-element active-sort" id="Все">
                    <div class="point"></div>
                    <span>ВСЕ</span>
                </li>
                <li class="block-list-element" id="Оценка">
                    <div class="point"></div>
                    <span>ОЦЕНКА</span>
                </li>
                <li class="block-list-element" id="Подбор">
                    <div class="point"></div>
                    <span>ПОДБОР</span>
                </li>
                <li class="block-list-element" id="Адаптация">
                    <div class="point"></div>
                    <span>АДАПТАЦИЯ</span>
                </li>
                <li class="block-list-element" id="Корп. культура и бенефиты">
                    <div class="point"></div>
                    <span>КОРП. КУЛЬТУРА И БЕНЕФИТЫ</span>
                </li>
                <li class="block-list-element" id="HR-бренд внешний">
                    <div class="point"></div>
                    <span>HR-БРЕНД ВНЕШНИЙ</span>
                </li>
                <li class="block-list-element" id="HR-сопровождение">
                    <div class="point"></div>
                    <span>HR-СОПРОВОЖДЕНИЕ</span>
                </li>
                <li class="block-list-element" id="Внутренняя работа отдела">
                    <div class="point"></div>
                    <span>ВНУТРЕННЯЯ РАБОТА ОТДЕЛА</span>
                </li>
                <li class="block-list-element" id="Кадровый учет и з/п">
                    <div class="point"></div>
                    <span>КАДРОВЫЙ УЧЁТ И З/П</span>
                </li>
                <li class="block-list-element" id="Развитие персонала">
                    <div class="point"></div>
                    <span>РАЗВИТИЕ ПЕРСОНАЛА</span>
                </li>
            </ul>
            <div class="line"></div>
            <p>Сортировка</p>
            <ul class="sort-list">
                <li class="sort-list-element active-sort" id="Все">
                    <span>ВЫКЛ</span>
                </li>
                <li class="sort-list-element" id="owner_id">
                    <span>ОТВЕТСТВЕННЫЙ</span>
                    <div class="arrows">
                        <svg width="7" height="16" viewBox="0 0 7 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.57031 12.4854L3.59897 14.4567L1.62763 12.4854" stroke="#333333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M3.59863 1.31445L3.59863 14.4567" stroke="#333333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </div>
                </li>
                <li class="sort-list-element" id="weight">
                    <span>ВЕС</span>
                    <div class="arrows">
                        <svg width="7" height="16" viewBox="0 0 7 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.57031 12.4854L3.59897 14.4567L1.62763 12.4854" stroke="#333333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M3.59863 1.31445L3.59863 14.4567" stroke="#333333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </div>
                </li>
            </ul>
            <div class="line"></div>
            <p>Категория</p>
            <ul class="planned-list">
                <li class="planned-list-element active-sort" id="Все">
                    <span>ВСЕ</span>
                </li>
                <li class="planned-list-element" id="Запланированная">
                    <span>ЗАПЛАНИРОВАННАЯ</span>
                </li>
                <li class="planned-list-element" id="Незапланированная">
                    <span>НЕЗАПЛАНИРОВАННАЯ</span>
                </li>
            </ul>
            <div class="line"></div>
            <p>Готовность</p>
            <ul class="done-list">
                <li class="done-list-element active-sort" id="Все">
                    <span>ВСЕ</span>
                </li>
                <li class="done-list-element" id="Выполненные">
                    <span>ВЫПОЛНЕННЫЕ</span>
                </li>
                <li class="done-list-element" id="Невыполненные">
                    <span>НЕВЫПОЛНЕННЫЕ</span>
                </li>
            </ul>
            <div class="line"></div>
            <p>Квартал</p>
            <select multiple class="cvartal-select" id="card-cvartal">
            </select>
        </div>
        <div class="tasks">
            <div class="search">
                <img class="search-icon" src="/static/img/search.svg">
                <input class="search-input" placeholder="Поиск">
                <div class="search-checkbox-block">
                    <input type="checkbox" class="search-checkbox">
                    <p>Только свои</p>
                </div>
            </div>
                {% block content %}
                                                
                {% endblock %}
        </div>
        <div class="blur hidden"></div>
        <div class="card-data hidden">
            <p class="card-message hidden"></p>
            <div class="card-header">
                <div class="edit-header">
                    <p class="header-main">Задача</p>
                    <div class="edit-user">
                        <p></p>
                        <img class="user-logo" src="/static/img/user-logo.jpg">
                    </div>
                </div>
                <div class="chat-header">
                    <p>Комментарии</p>
                </div>
                <div class="history-header">
                    <p>История изменений</p>
                </div>
            </div>
            <div class="card-content">
                <div class="edit">
                    <form action="POST" id="more-form">
                        <p>Название</p>
                        <textarea class="card-name" id="card-name"></textarea>
                        <p>Образ результата</p>
                        <textarea id="card-description"></textarea>
                        <p>Текущий результат</p>
                        <textarea id="card-current-progress"></textarea>
                        <div class="select-form-container">
                            <div class="edit-flex">
                                <p>Блок</p>
                                <select id="card-block"></select>
                            </div>
                            <div class="edit-flex">
                                <p>Категория</p>
                                <select id="card-category"></select>
                            </div>
                            <div class="edit-flex">
                                <p>Квартал</p>
                                <select id="card-cvartal"></select>
                            </div>
                            <div class="edit-flex">
                                <p>Оценка сотрудника</p>
                                <select class="number-select" id="card-own-grade"></select>
                            </div>
                            <div class="edit-flex">
                                <p>Вес</p>
                                <select class="number-select" id="card-weight"></select>
                            </div>
                            <div class="ruk-block"></div>
                            <div class="edit-flex ruk-edit">
                                <p>Оценка руководителя</p>
                                <select class="number-select" id="card-leader-grade"></select>
                            </div>
                            <div class="edit-flex ruk-edit">
                                <p>Утвердить задачу</p>
                                <select class="number-select" id="card-approve"></select>
                            </div>
                        </div>
                        <input type="submit" value="cохранить">
                    </form>
                </div>
                <div class="chat">
                    <div class="chat-container">
                    </div>
                    <form action="POST" id="chat-form">
                        {% csrf_token %}
                        <textarea class="message-sender"></textarea>
                        <svg class="chat-submit" width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.179175 2C-0.320825 0 0.679175 -0.5 2.17917 0.5L22.6792 11C29 14 29 14 22.6787 17L2.17917 27.5C0.178743 28.5 -0.317676 27.9795 0.178993 26L2.17899 16L15.6792 14L2.17917 12L0.179175 2Z" fill="#F89C1D"/>
                        </svg> 
                    </form>
                </div>
                <div class="history">
                </div>
            </div>
        </div>
        <div class="update-image hidden">
            <div class="update-image-header">
                <p>Загрузка новой фотографии</p>
            </div>
            <div class="update-image-body">
                <div id="load-image">
                    <p>Вы можете загрузить изображении в форматах: PNG, JPEG, WEBP, SVG</p>
                    <p>Максимальный размер файла 2 МБ</p>
                    <input type="file" accept="image/*" >
                    <button class="choose-image" type="button">Выбрать файл</button>
                </div>
                <div id="cropper" class="hidden">
                    <img id="image" src="" alt="Picture">
                    <button class="save-image" type="button">Сохранить</button>
                </div>
            </div>
        </div>
    </main>
    
    {% csrf_token %}
    <script src="https://code.jquery.com/jquery-3.5.1.js" 
    integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" 
      crossorigin="anonymous"></script>
    <script type="module" src="/static/browse/js/profile.js"></script>
    <script src="/static/browse/js/cropper.js"></script>
    <script type="module" src="/static/browse/js/menu.js"></script>
    <script type="module" src="/static/browse/js/openCard.js"></script>
    <script type="module" src="/static/browse/js/notification.js"></script>
    <script type="module" src="/static/browse/js/filter.js"></script>
    <script type="module" src="/static/browse/js/update-image.js"></script>
</body>
</html>