<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset='utf-8'>
    <link href="/static/css/style.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="/static/img/mini-logo.png"/>
</head>
<body>
    <header>
        <div class="logo">
            <a class="Задачи" href="/"><img src="/static/img/logo.svg"></a>
        </div>
        <div class="header-nav">
            <a class="Задачи" href="/">ЗАДАЧИ</a>
            <a class="Добавить" href="/goal/add">ДОБАВИТЬ</a>
            <a class="Утвердить" href="/goal/approve">УТВЕРДИТЬ</a>
            <a class="Сводка" href="/goal/summary">СВОДКА</a>
            <a class="Выйти В ОКНО" href="/user/logout">Выйти в окно</a>
        </div>
        <div class="header-user">
            <div class="ringbell">
                <img src="/static/img/ringbell.svg">
                <span>5</span>
            </div>
            <p>{{ user.first_name }}</p>
            <img class="user-logo" src="/static/img/user-logo.jpg">
        </div>
    </header>
    <main>
        <div class="left-submenu">
            <p>Блок</p>  
            <ul class="block-list">
                <li class="block-list-element active-sort">
                    <div class="point"></div>
                    <span>ВСЕ</span>
                </li>
                <li class="block-list-element">
                    <div class="point"></div>
                    <span>ОЦЕНКА</span>
                </li>
                <li class="block-list-element">
                    <div class="point"></div>
                    <span>ПОДБОР</span>
                </li>
                <li class="block-list-element">
                    <div class="point"></div>
                    <span>АДАПТАЦИЯ</span>
                </li>
                <li class="block-list-element">
                    <div class="point"></div>
                    <span>КОРП.КУЛЬТУРА</span>
                </li>
                <li class="block-list-element">
                    <div class="point"></div>
                    <span>HR-БРЕНД ВНЕШНИЙ</span>
                </li>
                <li class="block-list-element">
                    <div class="point"></div>
                    <span>HR-СОПРОВОЖДЕНИЕ</span>
                </li>
                <li class="block-list-element">
                    <div class="point"></div>
                    <span>ВНУТРЕННЯЯ РАБОТА</span>
                </li>
                <li class="block-list-element">
                    <div class="point"></div>
                    <span>КАДРОВЫЙ УЧЁТ И З/П</span>
                </li>
                <li class="block-list-element">
                    <div class="point"></div>
                    <span>РАЗВИТИЕ ПЕРСОНАЛА</span>
                </li>
            </ul>
            <div class="line"></div>
            <p>Сортировка</p>
            <ul>
                <li>
                    <span>ОТВЕТСТВЕННЫЙ</span>
                    <div class="arrows">
                        <svg width="7" height="16" viewBox="0 0 7 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.57031 12.4854L3.59897 14.4567L1.62763 12.4854" stroke="#333333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M3.59863 1.31445L3.59863 14.4567" stroke="#333333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        <svg class="active-sort" width="7" height="16" viewBox="0 0 7 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.57031 12.4854L3.59897 14.4567L1.62763 12.4854" stroke="#333333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M3.59863 1.31445L3.59863 14.4567" stroke="#333333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </div>
                </li>
                <li>
                    <span>ВЕС</span>
                    <div class="arrows">
                        <svg width="7" height="16" viewBox="0 0 7 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.57031 12.4854L3.59897 14.4567L1.62763 12.4854" stroke="#333333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M3.59863 1.31445L3.59863 14.4567" stroke="#333333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        <svg width="7" height="16" viewBox="0 0 7 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.57031 12.4854L3.59897 14.4567L1.62763 12.4854" stroke="#333333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M3.59863 1.31445L3.59863 14.4567" stroke="#333333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </div>
                </li>
            </ul>
            <div class="line"></div>
            <p>Категория</p>
            <ul>
                <li class="active-sort">ВСЕ</li>
                <li>ЗАПЛАНИРОВАННАЯ</li>
                <li>НЕЗАПЛАНИРОВАННАЯ</li>
            </ul>
            <div class="line"></div>
            <p>Готовность</p>
            <ul>
                <li class="active-sort">ВСЕ</li>
                <li>ВЫПОЛНЕННЫЕ</li>
                <li>НЕВЫПОЛНЕННЫЕ</li>
            </ul>
            <div class="line"></div>
            <p>Квартал</p>
            <select class="cvartal-select">
                <option>1 квартал 2024</option>
                <option>2 квартал 2024</option>
            </select>
        </div>
        <div class="tasks">
            <div class="search">
                <img class="search-icon" src="/static/img/search.svg">
                <input class="search-input" placeholder="Поиск">
                <div class="search-checkbox-block">
                    <input type="checkbox" class="search-checkbox">
                    <p>Только свои</p>
                </div>
            </div>
                {% block content %}
                                                
                {% endblock %}
        </div>
    </main>
    
    {% csrf_token %}
    <script src="https://code.jquery.com/jquery-3.5.1.js" 
          integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" 
            crossorigin="anonymous"></script>
    <script type="module" src="/static/browse/js/browse.js"></script>
    <script type="module" src="/static/browse/js/add.js"></script>
    <script type="module" src="/static/browse/js/menu.js"></script>
    <script type="module" src="/static/browse/js/load.js"></script>
</body>
</html>