{% extends 'layout.html' %}

{% block title %}Добавить{% endblock %}


{% block content %}
    <h1>Добавить новую задачу</h1>
    <form method="POST" id="add-form">
        {% csrf_token %}
        {{ add_form }}
        <a href=""><input type="submit"></a>
    </form>
    <h2> {{ status }}</h2>
    <h1> Текущие не утверждённые задачи</h1>

    <div class="hidden">
        <form id="more-form" class="info">
            {{ form }}
            <input type="submit">
        </form>

        <div class="history-block">
                
        </div>

        <div class="chat-history-block">
                
        </div>
        
        <form id="chat" class="chat">
            {{ chat_form }}
            <input type="submit">
        </form>
    </div>
{% endblock %}