{% extends 'layout.html' %}

{% block title %}Добавить{% endblock %}


{% block content %}
    <div class="add">
        <p class="add-header">Добавить новую задачу</p>
        <form method="POST" id="add-form">
            <div class="left-flex">
                <p>Название:</p>
                <textarea class="card-name" id="card-name"></textarea>
                <div class="select-flex">
                    <div>
                        <div class="edit-flex">
                            <p>Блок:</p>
                            <select id="card-block"></select>
                        </div>
                        <div class="edit-flex">
                            <p class="category-select">Категория:</p>
                            <select id="card-category"></select>
                        </div>
                    </div>
                    <div>
                        <div class="edit-flex">
                            <p>Квартал:</p>
                            <select id="card-cvartal"></select>
                        </div>
                        <div class="edit-flex">
                            <p>Вес:</p>
                            <select class="number-select" id="card-weight"></select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right-flex">
                <p>Образ результата:</p>
                <textarea id="card-description"></textarea>
                <input type="submit" value="добавить">
            </div>
        </form>
    </div>
        <h2> {{ status }}</h2>
        <h1> Текущие не утверждённые задачи</h1>
        <div class="cards">
        </div>
        <div class="blur hidden"></div>
        <div class="card-data hidden">
            <div class="card-header">
                <div class="edit-header">
                    <p class="header-main">Задача</p>
                    <div class="edit-user">
                        <p></p>
                        <img class="user-logo" src="/static/img/user-logo.jpg">
                    </div>
                </div>
                <div class="chat-header">
                    <p>Комментарии</p>
                </div>
                <div class="history-header">
                    <p>История изменений</p>
                </div>
            </div>
            <div class="card-content">
                <div class="edit">
                    <form action="POST" id="more-form">
                        <p>Название</p>
                        <textarea class="card-name" id="card-name"></textarea>
                        <p>Образ результата</p>
                        <textarea id="card-description"></textarea>
                        <p>Текущий результат</p>
                        <textarea id="card-current-progress"></textarea>
                        <div class="select-form-container">
                            <div class="edit-flex">
                                <p>Блок</p>
                                <select id="card-block"></select>
                            </div>
                            <div class="edit-flex">
                                <p>Категория</p>
                                <select id="card-category"></select>
                            </div>
                            <div class="edit-flex">
                                <p>Квартал</p>
                                <select id="card-cvartal"></select>
                            </div>
                            <div class="edit-flex">
                                <p>Оценка сотрудника</p>
                                <select class="number-select" id="card-own-grade"></select>
                            </div>
                            <div class="edit-flex">
                                <p>Оценка руководителя</p>
                                <select class="number-select" id="card-leader-grade"></select>
                            </div>
                            <div class="edit-flex">
                                <p>Вес</p>
                                <select class="number-select" id="card-weight"></select>
                            </div>
                            <div class="edit-flex">
                                <p>Утвердить задачу</p>
                                <select class="number-select" id="card-approve"></select>
                            </div>
                        </div>
                        <input type="submit" value="cохранить">
                    </form>
                </div>
                <div class="chat">
                    <div class="chat-container">
                    </div>
                    <form action="POST" id="chat-form">
                        {% csrf_token %}
                        <textarea class="message-sender"></textarea>
                        <svg class="chat-submit" width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.179175 2C-0.320825 0 0.679175 -0.5 2.17917 0.5L22.6792 11C29 14 29 14 22.6787 17L2.17917 27.5C0.178743 28.5 -0.317676 27.9795 0.178993 26L2.17899 16L15.6792 14L2.17917 12L0.179175 2Z" fill="#F89C1D"/>
                        </svg> 
                    </form>
                </div>
                <div class="history">
                </div>
            </div>
        </div>
    <script type="module" src="/static/browse/js/add.js"></script>
{% endblock %}