{% extends 'layout.html' %}

{% block title %}
Утвердить
{% endblock %}

{% block content %}
    <h1> Текущие не утверждённые задачи</h1>
    {% for item in data %}
        {% if perms.browse.change_goal and not item.current and user.groups.all.0 == item.group %}
            {{ item.name }}
            <p class="more" id="{{ item.id }}">Подробнее</p>
        {% endif %}
    {% endfor %}
    <div class="hidden">
        <form id="more-form" class="info">
            {{ form }}
            <input type="submit">
        </form>

        <div class="history-block">
                
        </div>

        <div class="chat-history-block">
                
        </div>
        
        <form id="chat" class="chat">
            {{ chat_form }}
            <input type="submit">
        </form>
    </div>
{% endblock %}