{% extends 'layout.html' %}

{% block title %}
    Задачи
{% endblock %}

{% block content %}
    <h1>Текущие задачи</h1>
    {% for item in data %}
        {% if item.current %}
            <div class="card">
                <p>{{ item.name }}</p>
                <p> {{ item.owner_id }}</p>
                <p class="more" id="{{ item.id }}">Подробнее</p>
            </div>
        {% endif %}
    {% endfor %}
    <div class="hidden">
        <form id="more-form" class="info">
            {% csrf_token %}
            {{ form }}
            <input type="submit">
        </form>

        <div class="history-block">
                
        </div>

        <div class="chat-history-block">
                
        </div>
        
        <form id="chat" class="chat">
            {% csrf_token %}
            {{ chat_form }}
            <input type="submit">
        </form>
    </div>

    <script type="module" src="static/browse/js/browse.js"></script>
{% endblock %}