{% extends 'layout.html' %}

{% block title %}
    Задачи
{% endblock %}

{% block content %}
    <h1>Текущие задачи</h1>
    {% for item in data %}
        {% if item.current_level == 2 %}
            <div class="card">
                <p>{{ item.name }}</p>
                <p class="more" id="{{ item.id }}">Подробнее</p>
            </div>
        {% endif %}
    {% endfor %}
    <form id="more-form" class="hidden info">
        {{ form }}
        <input type="submit">
    </form>

    <script type="module" src="static/browse/js/browse.js"></script>
{% endblock %}