{% extends 'layout.html' %}

{% block title %}Все сводки{% endblock %}

{% block content %}
    <div class="summary-pages">
        <a href="/goal/summary">ДОБАВИТЬ БЛОК</span>
        <a href="/goal/browse_summary" class="current-page">РЕДАКТИРОВАТЬ</a>
        <p class="load-excel">
            <a>ВЫГРУЗКА EXCEL</a>
            <svg width="33" height="33" viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 26.829C0 28.545 0.605 29.997 1.815 31.185C3.025 32.373 4.488 32.978 6.204 33H11.352L8.778 28.875H6.204C5.632 28.875 5.137 28.677 4.719 28.281C4.301 27.885 4.103 27.401 4.125 26.829V12.375H28.875V26.829C28.875 27.401 28.677 27.885 28.281 28.281C27.885 28.677 27.401 28.875 26.829 28.875H24.222L21.648 33H26.829C28.523 33 29.975 32.395 31.185 31.185C32.395 29.975 33 28.523 33 26.829V6.204C33 4.488 32.395 3.025 31.185 1.815C29.975 0.605 28.523 0 26.829 0H6.204C4.488 0 3.025 0.605 1.815 1.815C0.605 3.025 0 4.488 0 6.204L0 26.829ZM4.125 10.329V6.204C4.125 5.632 4.323 5.148 4.719 4.752C5.115 4.356 5.61 4.147 6.204 4.125H26.829C27.379 4.125 27.863 4.334 28.281 4.752C28.699 5.17 28.897 5.654 28.875 6.204V10.329H4.125ZM6.204 8.25H8.25V6.204H6.204V8.25ZM10.329 24.75L16.5 33L22.704 24.75H18.579V16.5H14.454V24.75H10.329ZM10.329 8.25H12.375V6.204H10.329V8.25ZM14.454 8.25H26.829V6.204H14.454V8.25Z" fill="#333333"/>
            </svg>
        </p>
    </div>
    <div class="summary-cards-block">
        <div id="Оценка">
            <p class="block-name">Оценка</p>
            <div class="summary-cards"></div>
        </div>
        <div id="Подбор">
            <p class="block-name">Подбор</p>
            <div class="summary-cards"></div>
        </div>
        <div id="Адаптация">
            <p class="block-name">Адаптация</p>
            <div class="summary-cards"></div>
        </div>
        <div id="Корп.культураибенефиты">
            <p class="block-name">Корп. культура и бенефиты</p>
            <div class="summary-cards"></div>
        </div>
        <div id="HR-брендвнешний">
            <p class="block-name">HR-бренд внешний</p>
            <div class="summary-cards"></div>
        </div>
        <div id="HR-сопровождение">
            <p class="block-name">HR-сопровождение</p>
            <div class="summary-cards"></div>
        </div>
        <div id="Внутренняяработаотдела">
            <p class="block-name">Внутренняя работа отдела</p>
            <div class="summary-cards"></div>
        </div>
        <div id="Кадровыйучетизп">
            <p class="block-name">Кадровый учет и зп</p>
            <div class="summary-cards"></div>
        </div>
        <div id="Развитиеперсонала">
            <p class="block-name">Развитие персонала</p>
            <div class="summary-cards"></div>
        </div>
    </div>

    <div class="summary-data hidden">
        <div class="card-header">
            <div class="edit-header">
                <p class="header-main">Сводка по задачам</p>
                <svg class="delete-summary-icon" width="32" height="37" viewBox="0 0 32 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3.01142 15.8099C2.8416 13.7547 4.58707 12 6.80117 12H25.1987C27.4129 12 29.1583 13.7547 28.9886 15.8099L27.6727 31.7329C27.5205 33.5765 25.8691 35 23.883 35H8.11689C6.13075 35 4.47947 33.5765 4.32712 31.7329L3.01142 15.8099Z" stroke="#A4A4A4" stroke-width="3"/>
                    <path d="M30.0557 7.61133H2" stroke="#A4A4A4" stroke-width="3" stroke-linecap="round"/>
                    <path d="M12.2871 3.87038C12.2871 2.83741 13.1245 2 14.1575 2H17.8983C18.9313 2 19.7686 2.83741 19.7686 3.87038V7.61115H12.2871V3.87038Z" stroke="#A4A4A4" stroke-width="3"/>
                    <path d="M20 19V27" stroke="#A4A4A4" stroke-width="3.35" stroke-linecap="round"/>
                    <path d="M12 19V27" stroke="#A4A4A4" stroke-width="3.35" stroke-linecap="round"/>
                </svg>
                <span class="quarter">123</span>
            </div>
            <div class="chat-header">
                <p>Задачи включенные в эту сводку</p>
            </div>
        </div>
        <div class="card-content">
            <div class="summary-edit">
                <form action="POST" id="summary-more-form">
                    <p>Название</p>
                    <textarea class="card-name" id="summary-name"></textarea>
                    <p>План</p>
                    <textarea id="summary-plan"></textarea>
                    <p>Факт</p>
                    <textarea id="summary-fact"></textarea>
                    <div class="edit-flex">
                        <p>Степень завершенности</p>
                        <select id="card-own-grade"></select>
                    </div>
                    <input type="submit" value="cохранить">
                </form>
            </div>
            <div class="summary-tasks">
                <div class="submenu">
                    <p class="current-page">Просмотр</p>
                    <p>Редактирование</p>
                </div>
                <div class="summary-current-cards">
                    <div class="current-cards">
                    </div>
                </div>
                <div class="edit-summary hidden">
                    <div class="current-cards"></div>
                    <p class="text">задачи за квартал</p>
                    <div class="search">
                        <img class="search-icon" src="/static/img/search.svg">
                        <input class="search-input" placeholder="Поиск">
                    </div>
                    <div class="cards"></div>
                </div>
            </div>
        </div>
    </div>
    <script type="module" src="/static/browse/js/summaryLoad.js"></script>
{% endblock %}