{% extends 'layout.html' %}

{% block title %}Добавить сводку{% endblock %}

{% block content %}
<div class="summary-pages">
    <a href="/goal/summary" class="current-page">ДОБАВИТЬ БЛОК</span>
    <a href="/goal/browse_summary">РЕДАКТИРОВАТЬ</a>
</div>
<div class="summary">
    <div class="cards">
    </div>
    <form id="add-summary-form">
        <p>Название</p>
        <textarea class="summary-name" id="summary-name"></textarea>
        <p>План</p>
        <textarea id="summary-plan"></textarea>
        <p>Факт</p>
        <textarea id="summary-fact"></textarea>
        <button type="button">добавить</button>
    </form>
</div>
<script type="module" src="/static/browse/js/summary.js"></script>
{% endblock %}